@page "/Ajuda"
@using Trabalho_PWA.Componentes
<div class= "flex flex-col items-center m-5">
        <h3 class="font-bold m-5 mt-2">Ajuda</h3>
    <div class="flex flex-col border border-2 border-black p-3">
        <p>Entre em contato:</p>
        <p>Telefone: (32) 99999-9999</p>
        <p>Email: sportthings@email.com</p>
    </div>
</div>
<Destaques></Destaques>

@code {

}
