@page "/Carrinho"
@using Trabalho_PWA.Componentes
<div class="flex flex-col items-center">
    <div class="m-3">
        <img src="/img/carrinho.png">
    </div>
    <div class="m-3">
        <h3 class="font-bold">Seu Carrinho está vazio</h3>
    </div>
    <div class="m-3">
        <a class ="border rounded p-1" href="/">Explore Nossos Produtos</a>
    </div>
</div>
<Destaques></Destaques>

@code {

}
