@page "/Sobre"
@using Trabalho_PWA.Componentes
<div class="flex justify-center flex-col">
    <div class="m-3">
        <h3 class="font-bold">Sobre</h3>
    </div>
    <div class="m-3">
        <p>Na SportThings, acreditamos que o esporte é mais do que uma atividade — é um estilo de vida. Fundada por apaixonados por esportes, nossa missão é tornar a prática esportiva mais acessível, divertida e cheia de estilo para todos. Seja você um iniciante empolgado ou um veterano das quadras, nós temos o que você precisa para entrar em campo, na pista ou na academia com confiança.

Trabalhamos com as melhores marcas do mercado e selecionamos a dedo cada produto, garantindo qualidade, desempenho e design. De chuteiras a raquetes, de roupas de treino a equipamentos de proteção, cada item da nossa loja foi escolhido pensando em você.

Aqui na SportThings, o jogo só está começando. Junte-se a nós e descubra como o esporte pode transformar seu dia a dia.</p>
    </div>
</div>
<Destaques></Destaques>

@code {

}
