<div class="flex mt-5 justify-center">
    <h2 class="font-bold ">Destaques</h2>
</div>
<Principal>
    <Cards>
        <Card Caminho="/img/AdidasTango.webp" Titulo="Bola de Futebol Adidas Tango 18 Pro" Preco="129.90"></Card>
        <Card Caminho="/img/BolsaAdidasLinear.webp" Titulo="Bolsa Esportiva Adidas Linear" Preco="179.90"></Card>
        <Card Caminho="/img/ChuteiraAdidasPredator.webp" Titulo="Chuteira de Futebol Adidas Predator 20.3" Preco="299.90"></Card>
    </Cards>
</Principal>


@code {

}
