<header class="bg-blue-600 p-4 h-25">
    <div class="container mx-auto flex items-center justify-between">
        <div class="text-white font-bold text-xl flex flex-row">
            <div>
                <img src="/img/logo.png" class="p-2 m-2">
            </div>
            <div class="flex items-center">
                <a href="/">SportThings</a>
            </div>
        </div>
        <ul class="flex flex-row justify-around">
            @Itens
        </ul>
    </div>
</header>


@code {
    [Parameter]
    public RenderFragment? Itens { get; set; }
}
